$primary-color: #68B5BE;
$secondary-color: #00ff00;
$accent-color: #B03030;
$background: #10110C;
$white: #F2EEF2;

$font-header: 'Press Start 2P', cursive;
$font-stack: 'Source Code Pro', monospace;

