@import "partials/_setup.scss";
@import "partials/_variables.scss";
@import "partials/_animations.scss";

   /******************
		G E N E R A L
		S T Y L E S  
    *******************/

html {
	font-size: 125%;
}

img {
	width: 100%;
	height: auto;
	max-width: 100%;
}

a {
	text-decoration: none;
	transition: 0.4s all ease;
}

body {
    background-color: #10110C;
    color: white;
}

   /******************
		H E A D E R
		S T Y L E S  
    *******************/

.header-title {
    text-align: center;
    margin: 1% 0 3%;
    h1 {
        font-family: 'Bungee Shade', cursive;
        font-size: 3.2rem;
        margin: 0;
        color: #68B5BE;
        span.cute-text {
            font-family: 'Meddon', cursive;
            font-size: 3.5rem;
            color: white;
        }
        span.killer-text,
        span.killer-two-text {
            font-family: 'Nosifer', cursive;
            color: #B03030;
        }
    }
    h2 {
        margin-top: 0;
        font-family: 'Press Start 2P', cursive;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 0.9rem;
    }
}
   /*****************************
        H A N G M A N / R O B O T
        C O N T A I N E R  
    *****************************/

.hangman-robot {
    width: 40%;
    border: 2px solid white;
    position: relative;
    .claw-container {
        width: 75px;
        margin: 0 auto;
    }
    .robot-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            display: none;
            width: 100%;
            height: auto;
        }
        .head {
            width: 200px;
        }
        .robot-body,
        .body {
            width: 300px;
        }
    }
    .guess-word {
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 35px 0 20px;
        font-family: 'Source Code Pro', monospace;
        .guess-text-area {
            text-align: center;
        }

    }
}

.guess-text-area input {
    width: 300px;
    height: 40px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 0.8rem;
}
.guess-submit {
    text-align: center;
    button {
        width: 250px;
        padding: 3px;
    }
}

.evil-robot {
    display: none;
    width: 300px;
    margin: 0 auto;
}

.lives {
    margin-top: 5%;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
    .lives-update {
        color:#00ff00;
        font-size: 1.2rem;
    }
}

   /******************
		G A M E
		S T Y L E S  
    *******************/

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.mission-mobile {
    display: none;
}

.mission,
.mission-mobile {
    width: 90%;
    margin: 0 auto;
    padding: 2%;
    border: 1px dashed white;
    text-align: center;
    .robot-warning {
        font-family: 'Press Start 2P', cursive;
        font-size: 0.8rem;
        letter-spacing: 2px;
        .underscore-animation {
            font-size: 0.6rem;
        }
    }
    h3 {
        font-family: 'Press Start 2P', cursive;
        font-size: 0.8rem;
        color: #00ff00;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    p {
        font-size: 0.9rem;
        letter-spacing: 1.5px;
        .underscore-animation {
            color: #00ff00;
        }
    }
}

.red-killer {
    color: #B03030;
    font-size: 1rem;
}

.final-message {
    display: none;
    width: 80%;
    margin: 40px 0 20px;
    text-align: center;
    background-color: grey;
    border: 3px solid white;
    color: black;
    padding: 2% 3%;
    p {
        font-family: 'Press Start 2P', cursive;
        letter-spacing: 2px;
        font-size: 0.8rem;
        line-height: 1.8;
        .answer-color {
            color: white;
        }
    }
    
    .restart-btn {
        font-family: 'Source Code Pro', monospace;
        padding-bottom: 12px;
        
        input {
            width: 50%;
            border: 4px solid black;
            text-transform: uppercase;
        }
    }
}

.game-container {
    display: flex;
}

.game {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 725px;
    font-family: 'Source Code Pro', monospace;
    margin-left: 30px;
}

.answer {
    margin-top: 5%;
    font-size: 1.5rem;
    font-family: 'Press Start 2P', cursive;
    p.underscore {
        display: inline;
    }
}

.letters-box {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3% 0 5%;
    .letter-container {
        height: 60px;
        p {
            font-size: 1.5rem;
            padding: 0 10px;
            margin: 0;
        }
    }
}

form.letters-box input {
	visibility: hidden;
}

.letters-box input:checked + label {
    color: #00ff00;
    margin: 2px;
}

.wrong-letters {
    border: 2px solid white;
    width: 50%;
    background-color: grey;
    text-align: center;
    margin: 30px;
    font-size: 1.3rem;
    h4 {
        margin: 0;
        color: black;
        font-family: 'Press Start 2P', cursive;
        font-size: 0.8rem;
        padding: 10px 0;
        text-transform: uppercase;
    }
}



   /******************
		F O O T E R
		S T Y L E S  
    *******************/

    .foot-text {
        margin-top: 5%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        p {
        font-family: 'Source Code Pro', monospace;
        margin: 0;
        }  
        .credits {
            font-size: 0.9rem;
            color: #bababa;
        }
    }

    .foot-text a {
        color: white;
        text-transform: uppercase;
        &:hover {
            letter-spacing: 2px;
            font-weight: 600;
        }
        
    }

   /******************
		C R E D I T
		S T Y L E S  
    *******************/

    .wrapper.credits {
        width: 70%;
        .credit-container {
            h2 {
            font-family: 'Press Start 2P', cursive;
            font-size: 1.2rem; 
            }
            p {
                font-family: 'Source Code Pro', monospace;
                margin-bottom: 6%;
            }
        }
        a {
            color: grey;
            font-family: 'Source Code Pro', monospace;
            &:hover {
                letter-spacing: 1px;
                color: #68B5BE;
            }
        }
    }

    .back-btn {
        text-align: center;
    }

   /******************
        M E D I A
        Q U E R I E S  
    *******************/

    @media (max-width: 960px) {

        .header-title {
            h1 {
                font-size: 2.4rem;
                span.cute-text {
                    font-size: 2rem;
                }
            }
            h2 {
                font-size: 0.6rem;
            }
        }
        .lives {
            font-size: 0.7rem;
            .lives-update {
                font-size: 1rem;
            }
        }

        .guess-text-area input {
            width: 225px;
        }

        .final-message {
            p {
                font-size: 0.7rem;
            }
        }

        .foot-text {
            margin-top: 15%;
        }
        
    } 

    @media (max-width: 834px) {
        .mission {
            display: none;
        }
        .mission-mobile {
            display: block;
            font-family: 'Source Code Pro', monospace;
            margin-bottom: 5%;
        }

        .hangman-robot {
            width: 50%;
        }

        .game {
            width: 50%;
            justify-content: center;
        }

        .answer {
            font-size: 1rem;
            margin-top: 10%;
        }

        .letters-box {
            margin: 10% 0;
            width: 275px;
        }

        .final-message {
            .restart-btn {
                input {
                    width: 80%;
                }
            }
        }

    }

     @media (max-width: 676px) {
        .header-title h1 {
            margin-bottom: 5%;
        }
        .game-container {
            flex-direction: column;
            .game {
                width: 100%;
                margin-left: 0;
                height: 550px;
                border: 2px solid white;
            }
            .hangman-robot {
                width: 100%;
                height: 725px;
                margin-bottom: 5%;
            }
        }
     }
