@import "partials/_setup.scss";
@import "partials/_mixins.scss";
@import "partials/_variables.scss";
@import "partials/_animations.scss";

   /******************
		G E N E R A L
		S T Y L E S  
    *******************/

html {
	font-size: 125%;
}

img {
	width: 100%;
	height: auto;
	max-width: 100%;
}

a {
	text-decoration: none;
	transition: 0.4s all ease;
}

body {
    background-color: #10110C;
    color: white;
}

   /******************
		H E A D E R
		S T Y L E S  
    *******************/

.header-title {
    text-align: center;
    margin-bottom: 5%;
    h1 {
        font-family: 'Bungee Shade', cursive;
        font-size: 3.2rem;
        margin-bottom: 0;
        color: #68B5BE;
        span.cute-text {
            font-family: 'Meddon', cursive;
            font-size: 3.5rem;
            color: white;
        }
        span.killer-text {
            font-family: 'Nosifer', cursive;
            color: #B03030;
            // color: black;
        }
    }
    h2 {
        margin-top: 0;
        font-family: 'Press Start 2P', cursive;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 0.9rem;
    }
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;

}


.mission {
    width: 90%;
    margin: 0 auto;
    padding: 2%;
    border: 1px dashed white;
    text-align: center;
    .robot-warning {
        font-family: 'Press Start 2P', cursive;
        font-size: 0.8rem;
        letter-spacing: 2px;
        .underscore-animation {
            font-size: 0.6rem;
        }
    }
    h3 {
        font-family: 'Press Start 2P', cursive;
        font-size: 0.8rem;
        color: #00ff00;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    p {
        font-size: 0.9rem;
        letter-spacing: 1.5px;
        .underscore-animation {
            color: #00ff00;
        }
    }
}

.red-killer {
    color: #B03030;
    font-size: 1.1rem;
}

.game-container {
    display: flex;
}

.game {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    font-family: 'Source Code Pro', monospace;
    margin-left: 30px;
}

.answer {
    margin-top: 7%;
    font-size: 1.5rem;
    font-family: 'Press Start 2P', cursive;
    p.underscore {
        display: inline;
    }
}

.hangman-robot {
    width: 40%;
    border: 2px solid white;
    position: relative;
    .claw-container {
        width: 75px;
        margin: 0 auto;
    }
    .robot-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            display: none;
            width: 100%;
            height: auto;
        }
        .head {
            width: 200px;
        }
        .robot-body,
        .body {
            width: 300px;
        }
    }
    .guess-word {
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        display: flex;
        width: 100%;
        padding-bottom: 20px;
        .guess-text-area {
            text-align: center;
        }

    }
}

.evil-robot {
    display: none;
    width: 300px;
    margin: 0 auto;
}

.lives {
    margin-top: 5%;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
    .lives-update {
        color:#00ff00;
        font-size: 1.2rem;
    }
}

.letters-box {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5%;
    .letter-container {
        height: 60px;
        p {
            font-size: 1.5rem;
            padding: 0 10px;
            margin: 0;
        }
    }
}

.wrong-letters {
    border: 2px solid white;
    width: 50%;
    background-color: grey;
    text-align: center;
    margin: 2%;
    font-size: 1.3rem;
    h4 {
        margin: 0;
        color: black;
        font-family: 'Press Start 2P', cursive;
        font-size: 0.8rem;
        padding: 10px 0;
        text-transform: uppercase;
    }
}

form.letters-box input {
	visibility: hidden;
}

.letters-box input:checked + label {
    // color: #B03030;
    color: #00ff00;

    margin: 2px;
}

.guess-word {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    .guess-text-area input {
        width: 400px;
        height: 50px;
        text-align: center;
        margin-bottom: 15px;
    }
    .guess-submit {
        text-align: center;
        button {
            width: 250px;
        }
    }
}
