article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

* {
  -webkit-font-smoothing: antialiased; }

/**********************
		A N I M A T I O N
		S T Y L E S  
    *********************/
.claw {
  -webkit-animation: claw 2.5s 3.5s infinite both;
  animation: claw 2.5s 3.5s infinite both; }

@-webkit-keyframes claw {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
    transform: translateX(-30px) rotate(6deg); }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg); }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
    transform: translateX(-15px) rotate(3.6deg); }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
    transform: translateX(9px) rotate(-2.4deg); }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg); } }

@keyframes claw {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
    transform: translateX(-30px) rotate(6deg); }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg); }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
    transform: translateX(-15px) rotate(3.6deg); }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
    transform: translateX(9px) rotate(-2.4deg); }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg); } }

.underscore-animation {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite; }

@keyframes "blink" {
  from, to {
    color: transparent; }
  50% {
    color: #00ff00; } }

@-moz-keyframes "blink" {
  from, to {
    color: transparent; }
  50% {
    color: #00ff00; } }

@-webkit-keyframes "blink" {
  from, to {
    color: transparent; }
  50% {
    color: #00ff00; } }

@-ms-keyframes "blink" {
  from, to {
    color: transparent; }
  50% {
    color: #00ff00; } }

@-o-keyframes "blink" {
  from, to {
    color: transparent; }
  50% {
    color: #00ff00; } }

.killer-text {
  -webkit-animation: killer-text 3s linear both;
  animation: killer-text 3s linear both; }

@-webkit-keyframes killer-text {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  10.1% {
    opacity: 1; }
  10.2% {
    opacity: 0; }
  20% {
    opacity: 0; }
  20.1% {
    opacity: 1; }
  20.6% {
    opacity: 0; }
  30% {
    opacity: 0; }
  30.1% {
    opacity: 1; }
  30.5% {
    opacity: 1; }
  30.6% {
    opacity: 0; }
  45% {
    opacity: 0; }
  45.1% {
    opacity: 1; }
  50% {
    opacity: 1; }
  55% {
    opacity: 1; }
  55.1% {
    opacity: 0; }
  57% {
    opacity: 0; }
  57.1% {
    opacity: 1; }
  60% {
    opacity: 1; }
  60.1% {
    opacity: 0; }
  65% {
    opacity: 0; }
  65.1% {
    opacity: 1; }
  75% {
    opacity: 1; }
  75.1% {
    opacity: 0; }
  77% {
    opacity: 0; }
  77.1% {
    opacity: 1; }
  85% {
    opacity: 1; }
  85.1% {
    opacity: 0; }
  86% {
    opacity: 0; }
  86.1% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes killer-text {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  10.1% {
    opacity: 1; }
  10.2% {
    opacity: 0; }
  20% {
    opacity: 0; }
  20.1% {
    opacity: 1; }
  20.6% {
    opacity: 0; }
  30% {
    opacity: 0; }
  30.1% {
    opacity: 1; }
  30.5% {
    opacity: 1; }
  30.6% {
    opacity: 0; }
  45% {
    opacity: 0; }
  45.1% {
    opacity: 1; }
  50% {
    opacity: 1; }
  55% {
    opacity: 1; }
  55.1% {
    opacity: 0; }
  57% {
    opacity: 0; }
  57.1% {
    opacity: 1; }
  60% {
    opacity: 1; }
  60.1% {
    opacity: 0; }
  65% {
    opacity: 0; }
  65.1% {
    opacity: 1; }
  75% {
    opacity: 1; }
  75.1% {
    opacity: 0; }
  77% {
    opacity: 0; }
  77.1% {
    opacity: 1; }
  85% {
    opacity: 1; }
  85.1% {
    opacity: 0; }
  86% {
    opacity: 0; }
  86.1% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.evil-robot {
  -webkit-animation: evil-robot 4s linear both;
  animation: evil-robot 4s linear both; }

@-webkit-keyframes evil-robot {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  10.1% {
    opacity: 1; }
  10.2% {
    opacity: 0; }
  20% {
    opacity: 0; }
  20.1% {
    opacity: 1; }
  20.6% {
    opacity: 0; }
  30% {
    opacity: 0; }
  30.1% {
    opacity: 1; }
  30.5% {
    opacity: 1; }
  30.6% {
    opacity: 0; }
  45% {
    opacity: 0; }
  45.1% {
    opacity: 1; }
  50% {
    opacity: 1; }
  55% {
    opacity: 1; }
  55.1% {
    opacity: 0; }
  57% {
    opacity: 0; }
  57.1% {
    opacity: 1; }
  60% {
    opacity: 1; }
  60.1% {
    opacity: 0; }
  65% {
    opacity: 0; }
  65.1% {
    opacity: 1; }
  75% {
    opacity: 1; }
  75.1% {
    opacity: 0; }
  77% {
    opacity: 0; }
  77.1% {
    opacity: 1; }
  85% {
    opacity: 1; }
  85.1% {
    opacity: 0; }
  86% {
    opacity: 0; }
  86.1% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes evil-robot {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  10.1% {
    opacity: 1; }
  10.2% {
    opacity: 0; }
  20% {
    opacity: 0; }
  20.1% {
    opacity: 1; }
  20.6% {
    opacity: 0; }
  30% {
    opacity: 0; }
  30.1% {
    opacity: 1; }
  30.5% {
    opacity: 1; }
  30.6% {
    opacity: 0; }
  45% {
    opacity: 0; }
  45.1% {
    opacity: 1; }
  50% {
    opacity: 1; }
  55% {
    opacity: 1; }
  55.1% {
    opacity: 0; }
  57% {
    opacity: 0; }
  57.1% {
    opacity: 1; }
  60% {
    opacity: 1; }
  60.1% {
    opacity: 0; }
  65% {
    opacity: 0; }
  65.1% {
    opacity: 1; }
  75% {
    opacity: 1; }
  75.1% {
    opacity: 0; }
  77% {
    opacity: 0; }
  77.1% {
    opacity: 1; }
  85% {
    opacity: 1; }
  85.1% {
    opacity: 0; }
  86% {
    opacity: 0; }
  86.1% {
    opacity: 1; }
  100% {
    opacity: 1; } }

/******************
		G E N E R A L
		S T Y L E S  
    *******************/
html {
  font-size: 125%; }

img {
  width: 100%;
  height: auto;
  max-width: 100%; }

a {
  text-decoration: none;
  -webkit-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  transition: 0.4s all ease; }

body {
  background-color: #10110C;
  color: white; }

/******************
		H E A D E R
		S T Y L E S  
    *******************/
.header-title {
  text-align: center;
  margin: 1% 0 3%; }
  .header-title h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 3.2rem;
    margin: 0;
    color: #68B5BE; }
    .header-title h1 span.cute-text {
      font-family: 'Meddon', cursive;
      font-size: 3.5rem;
      color: white; }
    .header-title h1 span.killer-text,
    .header-title h1 span.killer-two-text {
      font-family: 'Nosifer', cursive;
      color: #B03030; }
  .header-title h2 {
    margin-top: 0;
    font-family: "Press Start 2P", cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 0.9rem; }

/*****************************
        H A N G M A N / R O B O T
        C O N T A I N E R  
    *****************************/
.hangman-robot {
  width: 40%;
  border: 2px solid #F2EEF2;
  position: relative; }
  .hangman-robot .claw-container {
    width: 75px;
    margin: 0 auto; }
  .hangman-robot .robot-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .hangman-robot .robot-container img {
      display: none;
      width: 100%;
      height: auto; }
    .hangman-robot .robot-container .head {
      width: 200px; }
    .hangman-robot .robot-container .robot-body,
    .hangman-robot .robot-container .body {
      width: 300px; }
  .hangman-robot .guess-word {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 35px 0 20px;
    font-family: "Source Code Pro", monospace; }
    .hangman-robot .guess-word .guess-text-area {
      text-align: center; }

.guess-text-area input {
  width: 300px;
  height: 40px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 0.8rem; }

.guess-submit {
  text-align: center; }
  .guess-submit button {
    width: 250px;
    background-color: #B03030;
    border: none;
    color: #F2EEF2;
    padding: 5px 15px; }
    .guess-submit button:hover {
      font-weight: 500;
      -webkit-transition: 0.2s all ease;
      -o-transition: 0.2s all ease;
      transition: 0.2s all ease;
      border: 1.5px solid #F2EEF2; }

.evil-robot {
  display: none;
  width: 300px;
  margin: 0 auto; }

.lives {
  margin-top: 5%;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 0.8rem; }
  .lives .lives-update {
    color: #00ff00;
    font-size: 1.2rem; }

/******************
		G A M E
		S T Y L E S  
    *******************/
.wrapper {
  width: 90%;
  margin: 0 auto; }

.mission-mobile {
  display: none; }

.mission,
.mission-mobile {
  width: 90%;
  margin: 0 auto;
  padding: 2%;
  border: 1px dashed white;
  text-align: center; }
  .mission .robot-warning,
  .mission-mobile .robot-warning {
    font-family: "Press Start 2P", cursive;
    font-size: 0.8rem;
    letter-spacing: 2px; }
  .mission h3,
  .mission-mobile h3 {
    font-family: "Press Start 2P", cursive;
    font-size: 0.8rem;
    color: #00ff00;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .mission p,
  .mission-mobile p {
    font-size: 0.9rem;
    letter-spacing: 1.5px; }
    .mission p .underscore-animation,
    .mission-mobile p .underscore-animation {
      font-size: 0.8rem;
      color: #00ff00; }

.red-killer {
  color: #B03030;
  font-size: 0.9rem; }

.final-message {
  display: none;
  width: 80%;
  margin: 40px 0 20px;
  text-align: center;
  background-color: grey;
  border: 3px solid #F2EEF2;
  color: #10110C;
  padding: 2% 3%; }
  .final-message p {
    font-family: "Press Start 2P", cursive;
    letter-spacing: 2px;
    font-size: 0.7rem;
    line-height: 1.8; }
    .final-message p .answer-color {
      color: #F2EEF2; }
  .final-message .restart-btn {
    font-family: "Source Code Pro", monospace;
    padding-bottom: 12px; }
    .final-message .restart-btn input {
      width: 50%;
      border: 4px solid black;
      text-transform: uppercase; }

.game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.game {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 750px;
  font-family: "Source Code Pro", monospace;
  margin-left: 30px; }

.answer {
  margin-top: 5%;
  font-size: 1.2rem;
  font-family: "Press Start 2P", cursive; }
  .answer p.underscore {
    display: inline; }

.letters-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 3% 0 5%; }
  .letters-box .letter-container {
    height: 60px; }
    .letters-box .letter-container p {
      font-size: 1.5rem;
      padding: 0 10px;
      margin: 0; }

.ltr-btn {
  border: none;
  padding: 5px 15px; }
  .ltr-btn:hover {
    font-weight: 500;
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;
    color: #5e5d5d; }

form.letters-box input {
  visibility: hidden; }

.letters-box input:checked + label {
  color: #00ff00;
  margin: 2px; }

.wrong-letters {
  border: 2px solid #F2EEF2;
  width: 50%;
  background-color: grey;
  text-align: center;
  margin: 30px;
  font-size: 1.3rem;
  letter-spacing: 1px; }
  .wrong-letters h4 {
    margin: 0;
    color: #10110C;
    font-family: "Press Start 2P", cursive;
    font-size: 0.7rem;
    padding: 10px 5px;
    text-transform: uppercase; }

/******************
		F O O T E R
		S T Y L E S  
    *******************/
.foot-text {
  margin-top: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .foot-text p {
    font-family: "Source Code Pro", monospace;
    margin: 0;
    font-size: 0.8rem; }
  .foot-text .credits {
    font-size: 0.7rem;
    color: #bababa; }

.foot-text a {
  color: #F2EEF2;
  text-transform: uppercase; }
  .foot-text a:hover {
    letter-spacing: 2px;
    font-weight: 600; }

/******************
		C R E D I T
		S T Y L E S  
    *******************/
.wrapper.credits {
  width: 70%; }
  .wrapper.credits .credit-container h2 {
    font-family: "Source Code Pro", monospace;
    font-size: 1.2rem; }
  .wrapper.credits .credit-container p {
    font-family: "Source Code Pro", monospace;
    margin-bottom: 6%; }
  .wrapper.credits a {
    color: grey;
    font-family: "Source Code Pro", monospace; }
    .wrapper.credits a:hover {
      letter-spacing: 1px;
      color: #68B5BE; }

.back-btn {
  text-align: center; }

/******************
        M E D I A
        Q U E R I E S  
    *******************/
@media (max-width: 960px) {
  .header-title h1 {
    font-size: 2.4rem; }
    .header-title h1 span.cute-text {
      font-size: 2rem; }
  .header-title h2 {
    font-size: 0.6rem; }
  .lives {
    font-size: 0.7rem; }
    .lives .lives-update {
      font-size: 1rem; }
  .guess-text-area input {
    width: 225px; }
  .final-message p {
    font-size: 0.7rem; }
  .foot-text {
    margin-top: 15%; }
  .submit-ltr-guess {
    margin-top: 2%; }
  .hangman-robot {
    height: 825px; }
  .letters-box {
    width: 400px; } }

@media (max-width: 834px) {
  .mission {
    display: none; }
  .mission-mobile {
    display: block;
    font-family: "Source Code Pro", monospace;
    margin-bottom: 5%; }
  .hangman-robot {
    width: 50%; }
  .game {
    width: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .answer {
    font-size: 1rem;
    margin-top: 10%; }
  .letters-box {
    margin: 10% 0;
    width: 275px; }
  .final-message .restart-btn input {
    width: 80%; }
  .hangman-robot {
    height: 700px; } }

@media (max-width: 676px) {
  .header-title h1 {
    margin-bottom: 5%; }
  .game-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .game-container .game {
      width: 100%;
      margin-left: 0;
      height: 610px;
      border: 2px solid #F2EEF2; }
      .game-container .game .wrong-letters {
        padding: 0 15px; }
    .game-container .hangman-robot {
      width: 100%;
      height: 725px;
      margin-bottom: 5%; } }
